body {
    font-family: "Segoe UI", Arial, sans-serif;
    background-color: #2f2f2f;
    margin: 0;
    padding: 0;
}

.container {
    width: 70%;
    margin: 40px auto;
    background-color: #6a6a6a;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 30px;
}

/* Título */
h1 {
    text-align: center;
    color: #ffffff;
}

/* Tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    text-align: center;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #ff5fcc;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Linhas alternadas */
tr:nth-child(even) {
    background-color: #6a6a6a;
}

/* Classes condicionais */
.aprovado {
    background-color: #08270f;
    color: #a8e1b6;
}

.reprovado {
    background-color: #280c0e;
    color: #e5a2a9;
}

/* Hover */
tr:hover {
    background-color: #878787;
    transition: 0.3s;
}

.botao {

    background: #e7913c;
    color: #ffffff;
    padding: 10px 20px ;
    border-radius: 15px;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.botao:hover {
    background: #c98038;
}

