<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Alunos</title>
    <link rel="stylesheet" href="{{ request.url_for('static', path='style.css') }}">
</head>

<body>
    <Table>
        <div class="container">
            <h1>Lista de Alunos</h1>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Nota</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Gabriel</td>
                    <td>10</td>
                    <td>Aprovado</td>
                </tr>
            </tbody>
        </div>
    </Table>
</body>

</html>