<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Alunos</title>
    <link rel="stylesheet" href="{{ request.url_for('static', path='style.css') }}">
</head>

<body>
    <Table>
        <div class="container">
            <h1>Lista de Alunos</h1>
            <a href="/cadastro", class="botao">Novo Aluno</a>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Nota</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for aluno in lista_alunos %}
                    <tr class="{% if aluno.nota >= 7 %}aprovado{% else %}reprovado{% endif %}">
                        <td>{{ aluno.nome }}</td>
                        <td>{{ aluno.nota }}</td>
                        <td>
                            {% if aluno.nota >= 7 %}
                                aprovado
                            {% else %}
                                reprovado
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </div>
    </Table>
</body>

</html>